
body{
    justify-content: center;
    margin:auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

#content {
    background-image: url("New Project (2).jpg");
    width: 1890px;
    height: 920px;
}

#name{
    color: white;
    font-family: "Roboto Thin";
    color: white;
    display: inline-block;
    padding-left: 50%;
    font-weight: 100;
    font-size: 70px;
    padding-top:  70px;

}
#name h1:hover{
    color: #7f5a83;
}


#pg{
    padding-top: 40px;
    font-family: "Roboto Thin";
    color: white;
    display: inline-block;
    padding-left: 1100px;
    text-transform: uppercase;
    font-weight: 100;
    border-bottom: gray solid 1px;


}
#button{
    position: relative;
    left: 1200px;
    width: 216px;
    height: 56px;
    border-radius: 2px;
}

button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    background-size: 200% 100%;
    background-position: left;
    background-repeat: no-repeat;
    transition: 500ms;
    border-radius: 10px;
}
button:before {
    content: 'Премини на главната страна';
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    transition: 500ms;
}

button:hover {
    background-position: right;
}

button:hover:before {
    color: rgba(255,255,255,0.8);
}

button:focus {
    outline: none;
}

#content > footer > ul{
    position: relative;
    float: right;
    margin-bottom: 20px;
    bottom: 20px;
    right: 400px;
    top: 400px;
    padding-right: 20px;
}
footer ul li{
    display: inline-block;
    padding: 20px;
}

#content > footer > ul > li:nth-child(1) > a{
    list-style: url("facebook.png");
}


#block-menu-block-iga-common-socials-nav{

}
#content > footer > ul > li > a{
text-transform: uppercase;
    color: white;
}