body{
    justify-content: center;
    margin:auto;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}





header{
     width: 100%;
    height: 70px;
    background-color: whitesmoke;
}

#menu {
    float: right;
    width: 100%;
    height: 50px;
}
#menu ul{
    
     display: inline-block;
    float: right;
    margin-top: -60px;
    margin-right: 200px;

}
#menu ul li {
    display: inline-block;
    padding-top: 10px;
    padding-left:  15px;
    padding-right: 15px;
    text-transform: uppercase;

}
#menu a {
    font-family: "Roboto Thin";
    text-decoration: none;
    color: black;
    text-shadow: gray;


}
#ime{
    font-family: "Roboto Thin";
    display: inline-block;
    margin-left: 50px;
    color: black;
}
#ime a{
    font-family: "Roboto Thin";
    text-decoration: none;
    color: black;
}
       #menu {
           border-bottom: grey solid 2px;
       }

.pocetna{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 100px;
    height: 700px;
    margin-top:100px;
color: whitesmoke;
}
.pocetna h1{
    border-bottom: white solid 1px;
}
.pocetna p{
     position: relative;
    margin-left: 500px;
    top:-450px;
    width: 900px;
    font-size: 20px;
    border-bottom: whitesmoke solid 1px;
}

.pocetna img{
    color: whitesmoke;
    aspect-ratio: auto 538 / 555;
    height: 420px;
    width: 360px;
}
.obrazovanie{
    display:flex;
    flex-wrap: wrap;
    width: 1100px;
    height: 500px;
    color: whitesmoke;
margin-left: 100px;

}
#NNp > p:nth-child(4){
         font-size: 18px;
         color: whitesmoke;
       margin-left: -400px;
   width: 900px;

    }
 #SemosP > p:nth-child(3){
                margin-left: -400px;

     width: 900px;
 }
   #FinkiP > p:nth-child(4){
       margin-left: -400px;
       width: 900px;
   }



 #NNp{
    font-size: 18px;
    color: whitesmoke;
    width: 100%;
    margin-left: 400px;
    margin-top: -100px;
 }
#NikoNestor{
    height: 500px;
}
#NikoNestorS > h3{
    font-size: 25px;
    border-bottom: solid white 1px;
}
#semos{
    display: block;
    font-size: 18px;
    color: whitesmoke;
    width: 100%;
    height: 500px;
    margin-left: 400px;
    margin-top: -100px;
}
.obrazovanie img {
    height: 250px;
    width: 250px;
}
.obrazovanie h1{
    width: 100%;
    float: right;
    border-bottom: white solid 1px;

}

.iskustvo{
    height: 500px;
    width: 100%;

}

.contact{
    height: 500px;
    width: 100%;

}
body > article.obrazovanie > div:nth-child(1){
    width: 900px;
}

#SemosIme{
    margin-left: -400px;
    display: inline-block;
}
#semos{
    position: relative;
    height: 350px;
}
#SemosP p:nth-child(4){
    display: inline;
    width: 900px;
}
#SemosP{
    font-size: 18px;
    color: whitesmoke;
    margin-top: -130px;
    width: 900px;
}
#SemosP > h2{
margin-top: 50px;
}
#NNp > h2:nth-child(1){
    margin-top: 50px;

}
#SemosIme h3{
    font-size: 25px;
    border-bottom: solid white 1px;
    width: 900px;
}
#FinkiIme > h3{
    font-size: 25px;
    border-bottom: solid white 1px;
    width: 900px;
}

#FinkiP{
    color: whitesmoke;
    margin-left: 400px;
    width: 900px;
    margin-top: -70px;
}
#FinkiP > p:nth-child(3) > i{
    font-size: 18px;
}

#finki{
    margin-top: -50px;
}

.iskustvo{
    
    
    display: flex;
 }

    body > div > h1{
        display: inline-block;
        width: 0px;
        border-bottom: solid whitesmoke 1px;
    }
.iskustvo {
    text-align: center;
    color: white;
    height: 500px;
    width: 1100px;
    margin-top: 800px;
 }
    body > div{
          display: flex;
          color: white;
          height: 500px;
          width: 900px;
          margin-left: 100px;
     margin-top: 800px;
}

  #ck{
           height: 300px; 
        color: white;
        width: 400px;
        margin-top: 70px;
                 border: solid white 1px;
                    border-radius: 5px; 
}
  
      #ck > p:nth-child(4){
          margin-top:120px;
      }


#usaid  {
    border: solid white 1px;
    border-radius: 5px;
         color: white;
         margin-top: 70px;
         margin-left: 20px;
    width: 300px;
       height: 300px;
}
     #usaid > p:nth-child(4){
         margin-top:80px;
     }
#mof{
          margin-left: 20px;
          border: solid white 1px;
             border-radius: 5px;
    margin-top: 70px;
         width: 300px;
    height: 300px;
}
     #mof > p:nth-child(4){
         margin-top: 45px;
     }
#nails{
           margin-left: 20px;
           border: solid white 1px;  
             border-radius: 5px;

    margin-top: 70px;
      width: 300px;
    height: 300px;
}
  #FinkiIme > h3{
      text-transform: uppercase;
  }

        #FinkiP > h2:nth-child(2){
            width: 500px;
        }
body > article.pocetna > div > p   {
    width: 800px;
}

#pov{
    margin-top: -50px;
      width: 1100px;
}
#pov > div > h3{
    font-size: 25px;
  border-bottom: solid white 1px;                                  }

#pov > div > p > span {
                 float: right;
}
#FinkiP > h2:nth-child(2){
    font-size: 20px;
}
#contact{
    display: flex;
}
#inputName {
    width: 700px;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
#inputMessage{
    margin-top: 20px;
    width: 700px;
    height: 200px;
        border-radius: 5px;

}
#contact > div > div > div.col-12.col-lg-8 > div.mb-3 > form > button {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#contact{
    margin-top: -200px;
}
#contact > div > p1{
     border-bottom: solid whitesmoke 1px;
    font-size: 24px;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
